{{!< default}} <main class="gh-main bg-gray-50">


    <section class="container w-full py-16">
        <div class="text-center">


            <h1 class="text-4xl lg:text-6xl font-bold text-slate-800 mb-6">{{statusCode}}</h1>
            <p class="text-lg rext-gray-700 mb-4">{{message}}</p>
            <p class="gh-error-link"><a
                    class="inline-block py-3 px-8 rounded bg-green-500 text-wwhite hover:bg-slate-800"
                    href="{{@site.url}}">Go to the front page →</a></p>

            {{#if errorDetails}}
            <section class="gh-error-stack">
                <h4>Theme errors:</h4>
                <ul class="gh-error-stack-list">
                    {{#foreach errorDetails}}
                    <li>
                        <h5 class="gh-error-stack-function">{{{rule}}}</h5>

                        {{#foreach failures}}
                        <span class="gh-error-stack-file"><strong>Ref:</strong> {{ref}}</span><br>
                        <span class="gh-error-stack-file"><strong>Message:</strong> {{message}}</span>
                        {{/foreach}}
                    </li>
                    {{/foreach}}
                </ul>
            </section>
            {{/if}}


        </div>
    </section>

    </main>